header {
    background-color: #4EA0FF;
    height: 200px;
    background-image: url('../img/pattern.png');
}

.card {
    height: 100px;
    width: 220px;
}

#under-title {
    font-size: 15px;
    color: #808080;
}

.linkbox {
    color: #20A9E5;
}